* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: #424242;
}


/* Inicio de Sección de Encabezado */
.header a{
  text-decoration: none;
  color:white;
}


.header ul #der {
  display: block;
  float: right;
  padding-top: 14px;
}

.ca{
  padding-top: 15px;
  color:white;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.header li {
  float: left;
}

.header li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header li a:hover, .dropdown:hover .dropbtn {
}

.header li .dropdown {
  display:block;
}
.header li a:hover {
    background-color: rgb(185, 185, 185, 0.2);
    border-radius: 15px;
    transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(185, 185, 185);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0, 0.2  );
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content a:hover {
  background-color: rgb(162, 12, 0);
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}


.header i {
  padding-left: 10px;
  padding-right: 10px;
}
.dropdown i{
  color: white;
  float:right;
}

.dropdown {
  color: white;
}

.headerli a, .dropbtn2 {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header li a:hover, .dropdown2:hover .dropbtn2 {
}

.header li .dropdown2 {
  display:block;
}
.header li a:hover {
    background-color: rgb(185, 185, 185, 0.2);
    border-radius: 15px;
    transition: 1s;
    -webkit-transition: 1s;
    -o-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;

}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: rgb(185, 185, 185);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0, 0.2  );
}

.dropdown-content2 a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;

}

.dropdown-content2 a:hover {
  background-color: rgb(162, 12, 0);
  display: block;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}


i {
  padding-left: 10px;
  padding-right: 10px;
}
.dropdown2 i{
  color: white;
  float:right;
}

.dropdown2 {
  color: white;
}

.aRoj {
  background-color: red;
  color: red;
  font-size: 4px;
}

/* Fin de Sección de Encabezado */

/* Inicio de Carrusel de Noticias */
#nav {
    
}
/* Fin de Carrusel de Noticias */

/* Incio de Cuerpo de Página */

#body {
    width: 100%;
    position: relative;
    text-decoration: none;
}

/* Comienzo de los estilos para el navegador izquierdo */
/*
#navIzq {
    margin-left: 0;
    position: fixed;
    float: left;
    top: 40%;
    width: 2%; *//* Relleno horizontal de los enlaces *//*
    text-align: center;
}

#navIzq ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navIzq a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20%; *//* Relleno vertical de los enlaces *//*
    transition: 0.5s;
}

#navIzq a:hover {
    background-color: #aca9a9;
}
*//* Fin de los estilos para el navegador izquierdo */

.seccion {
  position: relative;
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
}

#accesoYedra {
  background-color: #e0993b;
}

#botony {
  background-color: #365aa8;
  color: white;
  padding: 1%;
  border: black solid 1px;
}


/* Fin de Cuerpo de Página */

/* Inicio de Pie de Página */
#footer{
    display: block;
    margin-top: 4%;
}

#contacto{
    display: block;
    float: left;
    width: 33%;
    margin-top: 3%;
}

#titulocontacto{
    background-color: #b70909;
    height: 9%;
    width: 23%;
    margin-left: 2%;
    color: white;
    font-size: 125%;

}

#tituloinfo{
    width: 12%;
    margin-left: 4%;
    font-size: 100%;
    color: white;
    text-decoration: underline;

}
#infocontacto{
    margin-left: 6%;
    font-size:  80%;
    color: white;

}

#info{
    /*margin-left;*/
    color: white;
}

#maps{
    display: block;
    float: left;
    width: 66%;
}

#titulomap{
    background-color: #b70909;
    height: 9%;
    width: 24%;
    margin-left: 2%;
    color: white;
    font-size: 125%;
}

#listadomenu {
    float: left;
     width: 34%;
}
#listadomenu li{
    list-style: none;
    color: white;
    font-family: "Lucida Handwriting", "Lucida", Cursive;
    padding-top: 4%;
    font-size: 75%;
    transition: 0.5s;
    width: 44%;   
}

#listadomenu li:hover{
    background-color: red;
}

#secciones{
    display: block;
    margin-top: 3%;
}

#titulosecciones{
    background-color: #b70909;
    height: 9%;
    width: 23%;
    margin-left: 33%;
    color: white;
    font-size: 125%;
}

#eliminar {
    float: right;
    display: block;
    width: 33%;
}
/* Fin de Pie de Página */
